.hidden {
  display: none !important;
}

.my-container {
  max-width: 575px;
  margin: 0 auto;
}

.my-row {
  display: flex;
}

.column-full,
.column-half {
  width: 100%;
}

.top-0 {
  top: 0;
}

.width-80p {
  width: 80%;
}

.column-75 {
  width: 75%;
}

.column-25 {
  width: 25%;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.width-50 {
  width: 50%;
}

.height-50 {
  height: 50%;
}

.text-align-right {
  text-align: right;
}

.justify-content-right {
  justify-content: right;
}

.height-75vh {
  height: 75vh;
}

.height-100vh {
  height: 100vh;
}

.space-evenly {
  justify-content: space-evenly;
}

.width-100p {
  width: 100%;
}

.margin-block-unset {
  margin-block: unset;
}

.margin-block-bottom-unset {
  margin-block-end: unset;
}

.height-85vh {
  height: 85vh;
}

.wrap {
  flex-wrap: wrap;
}

.display-table-cell-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.text-align-left {
  text-align: left;
}

.margin-top-1-rem {
  margin-top: 1rem;
}

.margin-bottom-1-rem {
  margin-bottom: 1rem;
}

.flex-wrap-wrapped {
  flex-wrap: wrap;
}

.projects-holder {
  margin-top: 3.5rem;
}

.project-pictures {
  height: 30vw;
  width: 30vw;
}

.background {
  width: 100%;
}

.first-project-list,
.second-project-list {
  justify-content: space-evenly;
  font-size: 10pt;
}

.arrow-list {
  display: none;
}

.specific-project {
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;
}

.specific-main-image {
  width: 100%;
}

.specific-gallery-image {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-names-text {
  font-size: 10.5pt;
  display: block;
}

.clean-links {
  display: inline-block;
  margin-block-start: unset;
}

.projects-opacity {
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3;
}

.tab {
  bottom: -5px;
  left: -5px;
  top: -3px;
  width: 100%;
  padding-left: 2rem;
  transform: translateX(105vw);
  z-index: 1;
}

.tab-out {
  transform: translateX(20vw);
  top: 0;
}

.register-main-text {
  margin-bottom: 2rem;
}

.registration-form-holder {
  width: 80%;
  z-index: 0;
}

.registration-form {
  left: 0;
  right: 0;
}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
  z-index: unset;
}

.carousel-item,
.carousel-inner {
  position: unset;
}

.carousel {
  position: unset;
}

.bootstrap-carousel {
  z-index: 0;
}

.carousel-control-next {
  z-index: 0;
}

.header {
  z-index: 2;
}

.top-20 {
  top: 20%;
}

@media screen and (min-width: 768px) {
  .my-container {
    width: 100%;
    max-width: 100%;
  }

  .whole-register {
    width: unset;
  }

  .registration-form-holder {
    width: 45%;
  }

  .projects-opacity {
    top: 0;
    overflow-y: scroll;
  }

  .projects-holder {
    margin-top: 0;
  }

  .arrow-list {
    display: none;
  }

  .project-names-text {
    font-size: 15pt;
  }

  .tab-out {
    transform: translateX(70vw);
    top: 0;
    overflow-y: scroll;
  }

  .registration-border {
    padding: 1.7rem;
  }

  .header {
    justify-content: space-between;
  }

  .icons-holder {
    width: 13%;
  }
}

@media screen and (min-width: 1280px) {
  .my-container {
    width: 100%;
    max-width: unset;
  }

  .first-project-list,
  .second-project-list {
    display: flex;
    justify-content: space-evenly;
  }

  .projects-holder {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .project-main {
    max-width: 90%;
    margin: 0 auto;
  }

  .projects-opacity {
    top: 3rem;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    width: unset;
    height: unset;
  }

  .project-pictures {
    height: 20vw;
    width: 20vw;
  }

  .arrow-list {
    display: flex;
    height: 20vw;
    width: 20vw;
    align-items: center;
    font-size: 40pt;
    color: white;
  }

  .arrow-holder-left {
    text-align: left;
  }

  .arrow-holder-right {
    text-align: right;
  }

  .second-project-list {
    flex-direction: row;
  }

  .second-project-list :nth-child(2) { order: 2; }

  .project-names-text {
    font-size: 10.5pt;
  }

  .specific-project-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .specific-main-text-holder {
    text-align: center;
  }

  .specific-main-image {
    height: 30vw;
    width: 30vw;
  }

  .specific-main-image-holder {
    text-align: center;
  }

  .tab-out {
    transform: translateX(75vw);
    top: 0;
  }

  .registration-form {
    width: 25vw;
  }

  .registration-border {
    padding: 1.7rem;
  }

  .register-main-text {
    margin-bottom: 3rem;
    margin-block-start: 0;
  }

  .login-main-text {
    margin-top: 1.5rem;
  }

  .icons-holder {
    width: 7.5%;
  }
}
