.background {
  height: 100vh;
  background-size: cover;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Montserrat, sans-serif;
}

.home-logo {
  font-size: 14pt;
  opacity: 0.38;
}

.home-logo-designs {
  font-weight: 700;
}

.home-tab {
  font-size: 19pt;
  opacity: 0.38;
}

.projects-opacity {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.cancel-x-holder {
  padding-left: 1rem;
  padding-top: 1rem;
}

.cancel-x {
  color: white;
  font-size: 25pt;
}

.project-names-text {
  font-family: Montserrat, sans-serif;
  color: white;
  text-decoration: none;
}

.specific-main-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.specific-main-text-holder {
  margin-bottom: 1rem;
}

.transparent-borders {
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.specific-project-gallery {
  border-top-color: white;
  padding-top: 1rem;
}

.gallery-footer {
  border-top-color: white;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.gallery-footer-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.tab {
  display: flex;
  justify-content: left;
  height: inherit;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transform: translateX(24rem);
  transition: transform 0.25s ease;
}

.tab-out {
  transition: transform 0.25s ease;
  transform: translateX(5rem);
}

.index-p {
  margin-top: 2.5rem;
  font-size: 14pt;
}

.open-tab {
  opacity: 1;
  position: relative;
  z-index: -1;
  color: purple;
}
