a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.background {
  height: 100vh;
  object-fit: cover;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Montserrat, sans-serif;
}

.home-logo {
  font-size: 14pt;
  opacity: 0.5;
}

.home-logo-designs {
  font-weight: 700;
}

.home-tab {
  font-size: 19pt;
  opacity: 0.38;
}

.projects-opacity {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.cancel-x-holder {
  padding-left: 1rem;
  padding-top: 1rem;
}

.cancel-x {
  color: white;
  font-size: 25pt;
}

.project-names-text {
  font-family: Montserrat, sans-serif;
  color: white;
  text-decoration: none;
}

.specific-main-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.specific-main-text-holder {
  margin-bottom: 1rem;
}

.transparent-borders {
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.specific-project-gallery {
  border-top-color: white;
  padding-top: 1rem;
}

.gallery-footer {
  border-top-color: white;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.gallery-footer-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.tab {
  display: flex;
  justify-content: left;
  height: inherit;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  transition: transform 0.25s ease;
}

.tab-out {
  transition: transform 0.25s ease;
}

.index-p {
  margin-top: 2.5rem;
  font-size: 14pt;
  color: darkgrey;
  font-family: Montserrat, sans-serif;
}

.drawer-text-top {
  padding-top: 2.5rem;
}

.open-tab {
  opacity: 1;
  position: relative;
  color: darkgrey;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next-icon {
  display: none;
}

.carousel-control-next {
  width: 100%;
}

.registration-form {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  font-family: Montserrat, sans-serif;
  color: darkgrey;
}

.register-input {
  width: 100%;
  background: linear-gradient(rgba(169, 169, 169, 0.6), rgba(169, 169, 169, 0.6));
  border-style: solid;
  border-color: transparent;
}

.registration-border {
  padding: 1.4rem;
}

.register-main-text {
  font-size: 15pt;
}

.register-p {
  margin-block: unset;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 10pt;
}

.registration-bottom-half {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.registration-x {
  font-size: 20pt;
}

.first-name-input-holder {
  margin-right: 0.75rem;
}

.last-name-input-holder {
  margin-left: 0.75rem;
}

.submit-button-holder {
  margin-top: 1.25rem;
}

.registration-submit-button {
  background-color: transparent;
  border-color: transparent;
  color: darkgrey;
  font-size: 15pt;
  font-weight: 700;
}

.whole-register {
  overflow-y: scroll;
}

.login-border {
  padding: 2rem;
  padding-top: 0;
}

.forgot-p-register {
  font-size: 9.5pt;
}

.forgot-password-register-holder {
  padding-top: 0.5rem;
}

.login-main-text {
  margin-bottom: 1.5rem;
}
