.background {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

.header {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Montserrat, sans-serif;
}

.home-logo {
  font-size: 14pt;
  opacity: 0.38;
}

.home-logo-designs {
  font-weight: 700;
}

.home-tab {
  font-size: 19pt;
  opacity: 0.38;
}

.projects-opacity {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.cancel-x-holder {
  padding-left: 1rem;
  padding-top: 1rem;
}

.cancel-x {
  color: white;
  font-size: 25pt;
}

.project-names-text {
  font-family: Montserrat, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 10.5pt;
}

.specific-main-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.specific-main-text-holder {
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: white;
  margin-bottom: 1rem;
}

.gallery-footer {
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  border-bottom-color: transparent;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.gallery-footer-text {
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
